<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragments/head.ejs") %>
</head>

<body>

    <header>
        <%- include("../fragments/header.ejs") %>
    </header>

    <main style="margin-top: 100px;">
        <h2>404: Pagina negasita!</h2>
        <br/>
    </main>

    <footer id="footerid">
        <%- include("../fragments/footer.ejs") %>
    </footer>

</body>

</html>