<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragments/head.ejs") %>
</head>

<body>

<header>
    <%- include("../fragments/header.ejs") %>
</header>   

        <section id="galerie-statica">
            <h2 class="h2-stat-gal">Ce puteți găsi în universul <b>IPETS</b> ?</h2>
            <br/>
            <div id="gr">
                <figure>
                    <img src="images/jucarii-caini.jpg" alt="jucarii caini">
                    <figcaption>Jucării câini</figcaption>
                </figure>
                <figure>
                    <img src="images/jucarii-pisici.jpg" alt="jucarii pisici">
                    <figcaption>Jucării pisici</figcaption>
                </figure>
                <figure>
                    <img src="images/jucarii-rozatoare.jpg" alt="jucarii rozatoare">
                    <figcaption>Jucării rozătoare</figcaption>
                </figure>
                <figure>
                    <img src="images/mancare-animale1.jpg" alt="mancare animale 1">
                    <figcaption>Mâncare pentru pisici</figcaption>
                </figure>
                <figure>
                    <img src="images/mancare-animale2.jpg" alt="mancare animale 2">
                    <figcaption>Mâncare pentru câini</figcaption>
                </figure>
                <figure>
                    <img src="images/mancare-animale3.jpg" alt="mancare animale 3">
                    <figcaption>Mâncare pentru pești</figcaption>
                </figure>

                <figure>
                    <img src="images/mancare-animale4.jpg" alt="mancare animale 4">
                    <figcaption>Mâncare pentru rozătoare</figcaption>
                </figure>
                <figure>
                    <img src="images/animale-adoptie1.jpg" alt="animale adoptie 1">
                    <figcaption>Animale adopție</figcaption>
                </figure>
                <figure>
                    <img src="images/animale-adoptie2.jpg" alt="animale adoptie 2">
                    <figcaption>Animale adopție</figcaption>
                </figure>
            </div>
        </section>

        <section id="table-section">
            <div class="table-container">
              <table style="min-width: 800px;">
                <thead>
                  <tr>
                    <th colspan="2">TUNS CÂINI</th>
                    <th>SPĂLAT</th>
                    <th>PACHETE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0 - 10kg</td>
                    <td>75.00 LEI</td>
                    <td>45.00 LEI</td>
                    <td rowspan="2">110.00 LEI</td>
                  </tr>
                  <tr>
                    <td>10 - 20kg</td>
                    <td>85.00 LEI</td>
                    <td>55.00 LEI</td>
                  </tr>
                  <tr>
                    <td>20 - 30kg</td>
                    <td>95.00 LEI</td>
                    <td>70.00 LEI</td>
                    <td>150.00 LEI</td>
                  </tr>
                  <tr>
                    <td>30 - 40kg</td>
                    <td>110.00 LEI</td>
                    <td>100.00 LEI</td>
                    <td>190.00 LEI</td>
                  </tr>
                  <tr>
                    <td>40 - 50kg</td>
                    <td>135.00 LEI</td>
                    <td>110.00 LEI</td>
                    <td rowspan="2">230.00 LEI</td>
                  </tr>
                  <tr>
                    <td>50 - 60kg</td>
                    <td>150.00 LEI</td>
                    <td>125.00 LEI</td>
                  </tr>
                  <tr>
                    <th colspan="2">TUNS PISICI</th>
                    <th>SPĂLAT</th>
                    <th>PACHETE</th>
                  </tr>
                  <tr>
                    <td colspan="2">Între 85.00 lei și 130.00 lei</td>
                    <td>Între 45.00 lei și 130.00 lei</td>
                    <td>130.00 LEI</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">LA PACHETELE ACHIZIȚIONATE BENEFICIAȚI GRATIS DE: CURĂȚAT URECHI, TĂIAT UNGHII ȘI
                      VIDAT GLANDE!</td>
                  </tr>
                </tfoot>
              </table>
            </div>
        
          </section>
  
<footer id="footerid">
    <%- include("../fragments/footer.ejs") %>
  </footer>
  
</body>

</html>