
    <a href="#" id="link-top" title="Mergi Sus">&#11165;</a>
    <span class="social-icon fab fa-facebook"></span>
    <!--fab for brand-->
    <span class="social-icon fab fa-twitter-square"></span>
    <span class="social-icon fab fa-instagram"></span>
    <span class="social-icon fas fa-envelope"></span>
    <br><br>
    <address>
        Strada Animalelor, sector 3.
    </address>

    <p style="color: white;"><small>© Copyright 2020 IPETS</small></p>
    <!--tagul semantic small-->
    <h4><a href="mailto:irina.t.gh.stefanescu@gmail.com"
            style="text-decoration:none; color:gray; font-family: 'Ubuntu'; text-transform: uppercase;">Irina
            Stefanescu</a></h4>

    <div class="animation">
        <h1 class="disclaimer">Disclaimer: Site-ul este un proiect școlar!!!</h1>
    </div>
       
