<head>
    <!--Meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta name="description" content="Produse și pachete pentru câini, pisici, pești, papagali și rozătoare, gata să fie achiziționate din magazinul nostru.">
    <meta name="keywords" content="Petshop, Caini, Pisici, Pesti, Rozatoare, IPETS, Tuns Caini, Tuns Pisici, Pachete, Jucarii animale">
    <meta name="author" content="Irina Stefanescu">

    <title>IPETS</title>
    <!--Styles CSS-->
    <link rel="stylesheet" href="/styles/inreg500.css">
    <link rel="stylesheet" href="/styles/inreg700.css">
    <link rel="stylesheet" href="/styles/inreg.css">
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/static-gallery-large.css">


    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/nav700.css" media="screen and (max-width: 700px)">
    <link rel="stylesheet" href="/styles/nav500.css" media="screen and (max-width: 500px)">

    <link rel="stylesheet" href="/styles/galerie_dinamica.css">


    <link rel="stylesheet" href="/styles/table.css">

    <link rel="stylesheet" href="/styles/styles800.css" media="screen and (max-width: 800px)">
    <link rel="stylesheet" href="/styles/styles700.css" type="text/css" media="screen and (max-width: 700px)" />
    <link rel="stylesheet" href="/styles/styles500.css" type="text/css" media="screen and (max-width: 500px)" />



    <!--Favicon-->
    <link rel="icon" type="image/ico" href="images/istockphoto_1033065676_170667a_Awv_icon.ico">

    <!--Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <script src="/scripts/script.js"></script>

</head>