#user {
    width: 3rem;
    margin-bottom: 30px;
}

.container {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 230px;
    z-index: -1;
}

input[type=file],
input[type=submit],
input[type=reset],
input[type=text],
input[type=password] {
    width: 60%;
    margin: 5px;
}

#inreg-footer {
    position: absolute;
    z-index: 100;
    text-align: center;
    background-color: rgb(78, 48, 78);
    color: white;
    margin-top: 500px;
    line-height: 20px;
    width: 100%;
}