<!DOCTYPE html>
<html lang="ro">
<head>
	<title>Pagina principală</title>

	<%- include("../fragments/head") %>
</head>
<body class="container" style="padding-top: 150px;">

<header>
	<%- include("../fragments/header") %>
</header>

<main style="padding: 100px;">
    Ai fost delogat!
</main>

<footer style="text-align: center; background-color: rgb(78, 48, 78); color: white; margin-top: 0; line-height: 20px; width: 100%;">
	<%- include("../fragments/footer") %>
</footer>

</body>
</html>