.pic-resp{
    width: 90%;
}
html{
    font-size: 0.9rem;
}
#videoclip{
    width: 90%;
    max-width: 750px;
}
/*
.main-index {
    box-shadow: inset lightgray 0px 0px 10px;
    padding-right: 0;
    padding-left: 0;
    background: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "gr-wellcome gr-pic"
                        "gr-articles gr-articles"
                        "gr-counters gr-webvtt" ;
}*/

.table-container {
    overflow-x: auto;
    width: 100%;

  }

  #table-section{
      padding-left: 0;
  }
  
 