table,
td,
th {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: rgb(69, 39, 75);
    color: white;
    border-radius: 20px;
}

td,
th {
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 28px;
    font-family: 'Ubuntu';
}

#table-section {
    padding-top: 100px;
    /* grid-area: gr-table;*/
    padding-left: 320px;
}

table {
    border: 1px solid;
    box-shadow: 5px 10px 18px gray;
}

#table-section td:nth-child(odd) {
    background-color: rgb(113, 29, 129);
}

#table-section td:nth-child(even) {
    background-color: rgba(233, 186, 238, 0.993);
}

#table-section tr:hover td {
    background-color: rgb(119, 101, 119);
}

#table-section tr:hover td[rowspan]:last-of-type {
    background-color: rgba(233, 186, 238, 0.993);
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

#table-section {
    padding-left: 0;
}